


p.lead {
    border-radius: 10px;
}

.highlighted {       
    color:red;
}

#bankPot2{  
    display:inline-block;
   max-width: 30%;
   max-height: 70%;   
}

#bankPotContainer {   
    text-align:center;
    /*height: 25vh;*/
}

#result {
    display: inline-block;
    background-color:antiquewhite;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    position: center;
    height: 30vh;
    width: 40vw;
}


